@model TeacherQueue.Models.ViewModels.RegisterViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
@using (Html.BeginForm("Register", "Teacher", FormMethod.Post))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary(false);

    @Html.LabelFor(m => m.FirstMidName)
    @Html.TextBoxFor(m => m.FirstMidName)
    <br />
    @Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName)
    <br />
    @Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email, new { type = "email" })
    <br />
    @Html.LabelFor(m => m.Password)
    @Html.TextBoxFor(m => m.Password, new { type = "password" })
    <br />
    @Html.LabelFor(m => m.ConfirmationPassword)
    @Html.TextBoxFor(m => m.ConfirmationPassword, new { type = "password" })
    <br />
    <input type="submit" value="Register" />
}
</body>
</html>
